<div class="lb-content">
	<h2><TMPL_VAR NAME=HELP.LOGS_TITLE></h2>
	<TMPL_VAR LOGLIST>

	<h3><TMPL_VAR NAME=HELP.RUNTIME_LOGS_TITLE></h3>
	<TMPL_IF HAS_RUNTIME_LOGS>
	<table class="lb-table">
		<thead>
			<tr>
				<th><TMPL_VAR NAME=HELP.LOGFILE_LABEL></th>
			</tr>
		</thead>
		<tbody>
		<TMPL_LOOP RUNTIME_LOGS>
			<tr>
				<td><a href="<TMPL_VAR URL ESCAPE=HTML>" target="_blank" rel="noopener"><TMPL_VAR NAME ESCAPE=HTML></a></td>
			</tr>
		</TMPL_LOOP>
		</tbody>
	</table>
	<TMPL_ELSE>
	<p><TMPL_VAR NAME=HELP.RUNTIME_LOGS_EMPTY></p>
	</TMPL_IF>
</div>
